body {
    height: 100vh;
    max-width: 1440px;
    background-color:hsl(207, 26%, 17%);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Nunito', sans-serif;
    color: white;
}
.body-light {
    height: 100vh;
    width: 1440px;
    background-color: hsl(0, 0%, 98%);
    display: flex;
    flex-direction: column;
    font-family: 'Nunito', sans-serif;
    color: hsl(0, 0%, 52%);
}
.header{
    background-color: hsl(209, 23%, 22%);
    width: 1440px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: larger;
    font-weight: 800;
    margin: 0;
}
.header-light {
    background-color: hsl(0, 0%, 98%);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: larger;
    font-weight: 800;
    margin: 0;
}
#page-title {
    margin: 0;
    padding-left: 60px;
    padding-top: 10px;
    padding-bottom: 20px;
}
#switch-mode {
    margin: 0;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-right: 60px;
}
#sort {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.input-icon i {
    margin-top: 50px;
    position: absolute;
    margin-left: 100px;
}
.fa-search {
    padding: 0px;
    padding-top: 12px;
    padding-left: 10px;
    width: 40px;
    height: 2em;
    background-color: hsl(209, 23%, 22%);
}

.search-country {
    background-color: hsl(209, 23%, 22%);
    padding-left: 100px;
    margin-left: 100px;
    height: 40px;
    margin-top: 50px;
    color: whitesmoke;
    border: none
}
.filter-region{
    width: 180px;
    background-color:  hsl(209, 23%, 22%);
    position: relative;
    padding-right: 60px;
    height: 2em;
    margin-top: 50px;
    color: hsl(0, 0%, 98%);
    border: none;
}
.filter-region-light {
    width: 180px;
    background-color: hsl(0, 0%, 98%);
    position: relative;
    padding-right: 60px;
    height: 2em;
    margin-top: 50px;
    color: hsl(0, 0%, 52%);
    border: none;
}
.option {
    color: rgb(241, 182, 182);
}
.hide {
    display: none;
}
  ​
.show {
    display: block;
}

.countries-page {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 60px;
    border: none;
}
.single-country {
    display: flex;
    margin-top: 150px;
    flex-direction: row;
    border: none;
}
.info-container {
    height: 150px;
    margin-left: 50px;
    margin-top: 0;
}
.infoblock-single {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.info-single {
    margin: 0;

}
.country {
    background-color: hsl(209, 23%, 22%);
    max-width: 250px;
    margin: 40px 30px 40px 30px;
}
.country-light {
    background-color: hsl(0, 0%, 98%);
    color: hsl(0, 0%, 52%);
}
.flag {
    width: 100%;
    height: 150px;
    margin: 0;
    padding: 0;
}
.flag-single {
    width: 500px;
    height: 300px;
    margin: 0;
    padding: 0;
}
.info-block {
    padding-bottom: 40px;
}
.country-name, 
.info {
    padding-left: 1rem;
}
.info {
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
}




